<?xml version="1.0"?>
<robot name="quadrotor">

  <!-- main body -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_boy.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_boy.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.683"/>
      <inertia ixx="0.076" iyy="0.064" izz="0.104" ixy="0.016" ixz="0" iyz="0.001"/>
      <origin xyz="-0.003 -0.001 0.009" rpy="0 0 0"/>
    </inertial>
  </link>

  <!-- rotor links -->
  <link name="rotor_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>

  <link name="rotor_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>

  <link name="rotor_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>

  <link name="rotor_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="stl/simplified_motor.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>

  <!-- rotors to base -->
  <joint name="rotor_1_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_1"/>
    <origin xyz="0.197 -0.22465 0.025" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="0.01" velocity="1000"/>
  </joint>

  <joint name="rotor_2_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_2"/>
    <origin xyz="0.197 0.22465 0.025" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="0.01" velocity="1000"/>
  </joint>

  <joint name="rotor_3_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_3"/>
    <origin xyz="-0.217 0.22465 0.025" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="0.01" velocity="1000"/>
  </joint>

  <joint name="rotor_4_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_4"/>
    <origin xyz="-0.217 -0.22465 0.025" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="0.01" velocity="1000"/>
  </joint>

</robot>

